[user]
    name = rwx788
    email = 
[core]
	editor = vim
	autocrlf = input
[diff]
    tool = meld
[merge]
    tool = meld
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[grep]
	lineNumber = true
[daemon]
	uploadArch = false
[advice]
	skippedCherryPicks = false
